body {
	margin: 0;
	background-color: #1E1E1E;
	color: #D0D0D0;
	font-family: Verdana;
}

html,body {
	height: 100%;
}

h1,h2,h3 {
	color: #A2C400;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px;
}

div.title {
	font-size: 20px;
	padding-top: 20pt;
	margin-bottom: 20pt;
}

#header {
	position: fixed;
	float: left;
	background-color: #2F2F2F;
	color: #D0D0D0;
	padding: 0.5em 0.5em 0.5em 2px;
	border-radius: 0px 0px 12px;
	border-bottom: 1px solid #595959;
	border-right: 1px solid #595959;
	height: 1.3em;
	overflow: hidden;
}

#options_button {
	display: inline-block;
}

#options_button:hover {
	cursor: pointer;
	text-decoration: underline;
}

#options {
	display: none;
	margin-top: 1.2em;
	position: fixed;
	left: 0;
	background-color: #2F2F2F;
	color: #D0D0D0;
	padding: 0.5em 0.5em 0.5em 8px;
	border-radius: 0px 12px 12px 0;
	border: 1px solid #595959;
	border-left: 0px;
}

#header_content {
	display: inline-block;
}

div.fullcenter {
	text-align: center;
}

div.post_header {
	overflow: auto;
	margin-bottom: 5pt;
}

div.post_header_left {
	padding: 5pt 7pt 3pt 7pt;
	border-bottom: 1px solid #595959;
	border-right: 1px solid #595959;
	border-radius: 0 0 8px 0;
	float: left;
}

div.post_header_right {
	padding: 5pt 7pt 3pt 7pt;
	border-bottom: 1px solid #595959;
	border-left: 1px solid #595959;
	border-radius: 0 0 0 8px;
	float: right;
	font-weight: bold;
}

div.post_text {
	padding: 0 15pt 0 15pt;
}

div.thread, div.post, #div_form {	
	display: block;
	text-align: justify;
	clear: both;
	background-color: #2E2E2E;
	color: #D0D0D0;
	border: 1px solid #595959;
	border-radius: 8px;
	min-height: 5em;
	overflow: auto;
	padding-bottom: 10pt;
}

div.thread {
	margin: 1em 0.8em 0.8em 0.8em;
}

div.post {
	margin: 0.25em 0.5em 0.25em 2.5em;
	position: float;
	float: left;
	min-width: 550px;
}

b.sage {
	color:#FF1818;
}

span.orange, #switch {
	color: #E6AD04;
}

span.quote {
	font-style: italic;
	color: #E6AD04;
}

a {
	color: #E6AD04;
	text-decoration: none;
}

a:hover, #form_switch:hover {
	text-decoration: underline;
	cursor: pointer;
}

#switch {
	font-weight: 900;
}

#switch:hover {
	cursor: pointer;
}

b.topic, span.green, #options_button, #cloud {
	color: #A2C400;
}

#pages {
	margin-bottom: 10pt;
}

#pages a {
	color: #D0D0D0;
}

#pages a:hover {
	text-decoration: none;
}

span.post_link:hover {
	text-decoration: underline;
	cursor: pointer;
}

img.post_img {
	padding: 0;
	margin-top: 2px;
	clear: both;
	float: left;
}

div.img_cont {
	padding: 0;
	margin-right: 10pt;
	float: left;
	clear: left;
	font-size: 11px;
	text-align: center;
}

div.img_cloud_cont {
	clear: none;
	font-size: 18px;
}

#cloud_cont {
	display: table;
	margin: 0 auto;
}

#div_form {
	display: table;
	margin: 0 auto 15pt auto;
	padding: 5pt 10pt 6pt 10pt;
	text-align: center;
	min-height: 0;
}

#div_form table {
	text-align: justify;
}

#div_form img {
	vertical-align: middle;
}

div.button {
	background-color: #2E2E2E;
	margin-top: 5pt;
	padding: 3pt 5pt 3pt 5pt;
	border: 1px solid #595959;
	border-radius: 6px;
	display: inline-block;
}

div.button:hover {
	cursor: pointer;
	border-color: #A2C400;
}

div.button:active {
	background-color: #1E1E1E;
}

hr {
	color: #595959;
	width: 90%;
}

div.post_cont {
	display: block;
	overflow: auto;
}

span.spoiler {
	background-color: black;
	color: black;
}

span.spoiler:hover {
	color: inherit;
}

#refresh {
	margin-left: 0.8em;
	margin-bottom: 10pt;
}

#up {
	float: right;
	margin-right: 0.5em;
}


#answer {
	display: inline-block;
	font-weight: bold;
	margin-left: 1em;
}

#form_cont {
	display: none;
	margin-top: 5pt;
}

#content_wrapper {
	overflow: auto;
}

#footer_wrapper, div.push {
	height: 50px;
}

#search_cont {
	font-size: 16px;
	position: absolute;
	right: 0;
	margin-right: 0.5em;
}
