{% extends "base.html" %}

{% block header %}

{% block cloud %} {% endblock %}

<div id='header'>
	<div id='header_content'>
		{% if boards %}
			&nbsp;
			<span class='green'>
			{%for board in boards %}
				/<a href="/{{board.name}}">{{board.name}}</a>/&nbsp;
			{%endfor%}
			</span>
		{% endif%}
		<div id='options_button'>
			Опции
		</div>
		<div id='options'>
			Мамка в комнате: <input type="checkbox" id='nsfw'> <br>
			Еще что-нибудь <br>
			И еще один пунктик
		</div>

	</div>
	<span id='switch'>&lt;</span>
</div>

<div class='fullcenter title'>
	{% block cent_title %}Kataba <span class='orange'>2.0</span>: Django edition{% endblock %}
</div>

{% block form %} {% endblock %}

{% endblock %}


