{% autoescape off %}
<div class='post' id='p{{post.id}}'>
        <div class='post_header'>&nbsp;
                <div class='post_header_left'><b class='topic'>{{post.topic}}</b> <span class='orange post_link'>#p{{post.id}}</span> {{post.date|date:"F d H:i:s"}} {% if post.sage %}<b class='sage'>SAGE</b>{%endif%}
                {% if post.get_tags %}
                    {% for tag in post.get_tags %}
                        <a href="/tag/{{tag}}/">{{tag}}</a>{% if not forloop.last %},{% endif %} 
                    {% endfor %}
                {% endif %}
                </div>
                {% if post_show_answer %} <div class='post_header_right'><a href='/post/{{post.id}}'>Ответить</a></div> {% endif %}

        </div>
        <div class='post_text'>
                {% if post.image %}
                        <div class='img_cont' data-is_thumbnail="1">
                            <div><a href="/images/{{post.image.name}}">{{post.image.name|slice:"2:"|truncatechars:19}}</a></div>
                            <img class='post_img_thumb' src='/images/thumbnails/{{post.image.name}}' alt='{{post.image.name|slice:"2:"}}'>
                            <img class='post_img' src='' data-src='/images/{{post.image.name}}' alt=''>
                        </div>
                {% endif %}
                {{post.text}}
        </div>
</div>
{% endautoescape %}
