{% autoescape off %}
<div class='thread' id='t{{thread.id}}'>
        <div class='post_header'>&nbsp;
            <div class='post_header_left'><b class='topic'>{{thread.topic}}</b> <span class='orange post_link'>#t{{thread.id}}</span> {{thread.date|date:"F d H:i:s"}}</div>
            {% if not thread_hide_answer %} <div class='post_header_right'><a href='/{{board.name}}/thread/{{thread.id}}'>Ответить</a></div> {% endif %}
        </div>
        <div class='post_text'>
            {% if thread.image %}
                <div class='img_cont'>
                    <div><a href="/images/{{thread.image.name}}">{{thread.image.name|slice:"2:"|truncatechars:19}}</a></div>
                    <img class='post_img' src='/images/thumbnails/{{thread.image.name}}' data-alt_name='/images/{{thread.image.name}}' alt='{{post.image.name|slice:"2:"}}'>
                </div>
            {% endif %}
        {{thread.text}}
        </div>
</div>
{% endautoescape %}
